{% extends 'core/base.html' %}
{% load static %}
{% block html %}<html lang="pt-br">{% endblock %}
{% block content %}

<body class="d-flex flex-column h-100">

  {% include 'core/menu.html' %}

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <!--BARRA DE PESQUISA-->
    {% include 'core/pesquisa.html' %}
    
    <!--CARDS-->
    <h2 class="pb-2 text-center text-secondary">{{loja}}</h2>
    <h2 class="pb-4 text-center text-secondary">{{tipo|upper}} - COMPRAR</h2>
    <div class="container border-bottom">
      <div class="row g-0">
        <div class="col-6">
          <h5>PRODUTO</h5>
        </div>
        <div class="col-2 text-center">
          <h5>CT</h5>
        </div>
        <div class="col-2 text-center">
          <h5>MD</h5>
        </div>
        <div class="col-2 text-center">
          <h5>CP</h5>
        </div>
      </div>
    </div>
    <form id="listaDeComprasForm" action="{% url 'lojas:imprimir' slug %}">
      {% for produto in produtos %}
      <div id="{{produto.nome|slugify}}" class="container border-bottom pt-3">
        <div class="card border-0 mb-3">
          <div class="row g-0">
            <div class="col-6">
              <div>
                <h5 class="card-title fs-6" style="color: #aa4d37;">{{ produto.nome }}</h5>
                <p class="card-text text-muted small">{{produto.tipo}} | {{ produto.unidade }}</p>
              </div>
            </div >
            <div class="col-2 text-center">
              <p class="fs-5">{{produto.qtd|floatformat:"0"}}</p>
            </div>
            <div class="col-2 text-center">
              <p class="fs-5">{{produto.media|floatformat:"0"}}</p>
            </div>
            <div class="col-2 text-center">
              <p class="fs-5">{{produto.comprar|floatformat:"0"}}</p>
        
            </div>
          </div>
          <div class="row pt-3 align-items-center g-0">
            <div class="col-10">
              <div class="form-check">
                <input class="form-check-input customCheckBox" name="{{produto.id}}" type="checkbox" id="id-{{produto.id}}" checked onclick="check(this)">
                <input type="hidden" class="d-none" name="{{produto.id}}" value="{{produto.id}}">
                <label class="form-check-label text-muted" for="id-{{produto.id}}">
                  Comprar
                </label>
              </div>
            </div>
            <div class="col-2 text-center">
              <input name="{{produto.id}}" id="qtd" type="text" class="border-1 form-control text-center qtd" value="{{produto.comprar|floatformat:'0'}}">
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <h2 class="pb-4 text-center small text-gray">Nenhum produto cadastrado</h2>
      {% endfor %}
    </form>
  </main>
  <footer class="footer fixed-bottom mt-auto py-3" style="background: #29292a;">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a href="#" class="btn text-white w-100"  onclick="submit()" style="background-color: #aa4d37;">Imprimir</a>
        </div>
      </div>
    </div>
  </footer>

</body>
<script>
function submit(){
  form = document.querySelector('#listaDeComprasForm');
  form.submit();
}

function check(checkbox){
  if (checkbox.checked) {
    checkbox.setAttribute("value", "on");
  }
  else {
    checkbox.setAttribute("value", "off");
  }
}

function slugify(texto) {
  return texto.toString().toLowerCase()
	.replace(/[àÀáÁâÂãäÄÅåª]+/g, 'a')       // Special Characters #1
	.replace(/[èÈéÉêÊëË]+/g, 'e')       	// Special Characters #2
	.replace(/[ìÌíÍîÎïÏ]+/g, 'i')       	// Special Characters #3
	.replace(/[òÒóÓôÔõÕöÖº]+/g, 'o')       	// Special Characters #4
	.replace(/[ùÙúÚûÛüÜ]+/g, 'u')       	// Special Characters #5
	.replace(/[ýÝÿŸ]+/g, 'y')       		// Special Characters #6
	.replace(/[ñÑ]+/g, 'n')       			// Special Characters #7
	.replace(/[çÇ]+/g, 'c')       			// Special Characters #8
	.replace(/[ß]+/g, 'ss')       			// Special Characters #9
	.replace(/[Ææ]+/g, 'ae')       			// Special Characters #10
	.replace(/[Øøœ]+/g, 'oe')       		// Special Characters #11
	.replace(/[%]+/g, 'pct')       			// Special Characters #12
	.replace(/\s+/g, '-')           		// Replace spaces with -
  .replace(/[^\w\-]+/g, '')       		// Remove all non-word chars
  .replace(/\-\-+/g, '-')         		// Replace multiple - with single -
  .replace(/^-+/, '')             		// Trim - from start of text
  .replace(/-+$/, '');

}

function pesquisar(texto){
  let slug = slugify(texto);
  let containers = document.querySelectorAll("[id*=" + slug + "]");
  let containerId = document.querySelector('#' + containers[0].id);
  containerId.scrollIntoView();
}
</script>
{% endblock %}
