{% extends 'core/base.html' %}
{% load static %}
{% block html %}<html lang="pt-br" style="padding-top: 6rem;">{% endblock %}
{% block content %}

<body class="d-flex flex-column h-100">

  {% include 'core/menu.html' %}

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    
    <!--CARDS-->
    <h2 class="pb-2 text-center text-secondary">{{contagem.nome}} CONTAGEM EM</h2>
    <h3 class="pb-4 text-center text-secondary">{{contagem.data|date:"j/m/Y - H:i"}}</h3>
    <div class="container border-bottom">
      <div class="row g-0">
        <div class="col-9">
          <h5>PRODUTO</h5>
        </div>
        <div class="col-3 text-center">
          <h5>QTD</h5>
        </div>
      </div>
    </div>
      {% for produto in contagem.ordena_produtos %}
      <div class="container border-bottom pt-3">
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-9">
                <h5 class="card-title fs-6" style="color: #aa4d37;">{{ produto.nome }}</h5>
                <h5 class="text-muted fs-6">{{ produto.tipo}} | {{ produto.departamento.nome }}</h5>
            </div >
            <div class="col-3 text-center">
                <p class="fs-5">{{produto.contagem}}</p>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <h2 class="p-4 text-center small text-gray">Nenhum produto encontrado nessa contagem ainda</h2>
      
      {% endfor %}
  </main>
</body>

<footer class="footer fixed-bottom mt-auto py-3" style="background: #29292a;">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        {% if contagem.ordena_produtos %}
        <a href="{% url 'lojas:imprimir_contagem' contagem.id %}" class="btn text-white w-100" style="background-color: #aa4d37;">Imprimir</a>
        {% else %}
        <a href="{% url 'lojas:lojas' %}" class="btn text-white w-100" style="background-color: #aa4d37;">Iniciar nova contagem</a>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
{% endblock %}
