{% extends 'core/base.html' %}
{% load static %}
{% block html %}<html lang="pt-br">{% endblock %}
{% block content %}

<body class="d-flex flex-column h-100">

  {% include 'core/menu.html' %}

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <!--BARRA DE PESQUISA-->
    {% include 'core/pesquisa.html' %}
    
    <!--CARDS-->
    <h2 class="pb-1 text-center text-secondary">CONTAGEM</h2>
    <h5 class="pb-4 text-center text-secondary">{{departamento|capfirst}}</h5>
    {% include 'core/alertas.html' %}
    <form id="produtosForm" method="post">
      {% csrf_token %}
      {% for produto in produtos %}
      <div id="{{produto.nome|slugify}}" class="container border-bottom border-light py-3" style="background-color:{{ produto.tipo.cor }};">
        <div class="card border-0 mb-3" style="background-color:{{ produto.tipo.cor }};">
          <div class="row g-0">
            <div class="col-9 px-2 btnMais" onclick="count(this, 'title')">
              <div>
                <h5 class="card-title text-dark">{{ produto.nome|upper }}</h5>
                <p class="card-text text-muted fs-6">{{produto.tipo}}</p>
<!--                <input type="range" class="form-range" min="0" max="100" step="1" oninput="range(this)">-->
              </div>
            </div >
            <div class="col-3">
<!--              <input name="qtd" id="qtd" type="number" class="border-1 form-control text-center qtd" value="{{produto.qtd|floatformat}}">-->
              <input name="qtd" id="qtd" type="number" class="border-1 form-control text-center qtd" value="0">
              <input name="id" id="{{ produto.id }}" type="text" class="d-none" value="{{produto.id}}">
              <a href="#" onclick="count(this, 'menos')" class="btn btn-danger mt-2 w-100 btnMenos">-</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <h2 class="pb-4 text-center small text-gray">Nenhum produto cadastrado nesse departamento</h2>
      {% endfor %}
    </form>
  </main>
  {% if produtos %}
    {% include 'core/footer.html' %}
  {% endif %}

</body>

<script>
  function slugify(texto) {
  return texto.toString().toLowerCase()
	.replace(/[àÀáÁâÂãäÄÅåª]+/g, 'a')       // Special Characters #1
	.replace(/[èÈéÉêÊëË]+/g, 'e')       	// Special Characters #2
	.replace(/[ìÌíÍîÎïÏ]+/g, 'i')       	// Special Characters #3
	.replace(/[òÒóÓôÔõÕöÖº]+/g, 'o')       	// Special Characters #4
	.replace(/[ùÙúÚûÛüÜ]+/g, 'u')       	// Special Characters #5
	.replace(/[ýÝÿŸ]+/g, 'y')       		// Special Characters #6
	.replace(/[ñÑ]+/g, 'n')       			// Special Characters #7
	.replace(/[çÇ]+/g, 'c')       			// Special Characters #8
	.replace(/[ß]+/g, 'ss')       			// Special Characters #9
	.replace(/[Ææ]+/g, 'ae')       			// Special Characters #10
	.replace(/[Øøœ]+/g, 'oe')       		// Special Characters #11
	.replace(/[%]+/g, 'pct')       			// Special Characters #12
	.replace(/\s+/g, '-')           		// Replace spaces with -
  .replace(/[^\w\-]+/g, '')       		// Remove all non-word chars
  .replace(/\-\-+/g, '-')         		// Replace multiple - with single -
  .replace(/^-+/, '')             		// Trim - from start of text
  .replace(/-+$/, '');

}

function pesquisar(texto){
  let slug = slugify(texto);
  let containers = document.querySelectorAll("[id*=" + slug + "]");
  let containerId = document.querySelector('#' + containers[0].id);
  containerId.scrollIntoView();
}
</script>
{% endblock %}
