<!DOCTYPE html>
{% load static %}
<html lang="pt-br" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Compras</title>
  
  <style>
    body {
      font-family:  "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
      text-align: center;
    }
    table {
      width: 100%;
      margin-bottom: 1rem;
      color: #212529;
      vertical-align: top;
      border-collapse: collapse;
    }
    
    table, th, td {
      border: 1px solid #dee2e6;
      padding: 5px 5px;
    }
    
  </style>
  
</head>
<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    
    <!--LOGO-->
    <img src="{% static 'core/img/logo.png' %}" class="img-fluid rounded-circle">
    
    <!--CARDS-->
    <h2 class="pb-2 text-center text-secondary">{{contagem.nome}} - CONTAGEM EM</h2>
    <h3 class="pb-4 text-center text-secondary">{{contagem.data|date:"j/m/Y - H:i"}}</h3>
    <div class="container border-bottom pt-3">
        <div class="card border-0 mb-3">
          <div class="row g-0">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th scope="col">TIPO</th>
                <th scope="col">DPT</th>
                <th scope="col">PRODUTO</th>
                <th scope="col">QTD</th>
                <th scope="col">UND</th>
              </tr>
              </thead>
              <tbody>
              {% for produto in contagem.ordena_produtos %}
              <tr>
                <td>{{produto.tipo}}</td>
                <td>{{produto.departamento.nome}}</td>
                <td style="text-align: left !important;">{{produto.nome}}</td>
                <td>{{produto.contagem}}</td>
                <td>{{produto.unidade_contagem}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </main>
</body>
</html>
