{% extends 'base.html' %}
{% block content %}

<body class="d-flex flex-column h-100">

  {% include 'menu.html' %}

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <!--BARRA DE PESQUISA-->
    <div class="container">
      <form class="d-flex my-4">
        <input class="form-control me-2" type="search" placeholder="pesquisar" aria-label="Search">
        <button class="btn text-light" type="submit" style="background: #aa4d37;">Pesquisar</button>
      </form>
    </div>
    
    <!--CARDS-->
    <h2 class="pb-4 text-center text-secondary">{{loja}} - COMPRAR</h2>
      
      {% for produto in produtos %}
      <div class="container border-bottom pt-3">
        <div class="card border-0 mb-3">
          <div class="row g-0">
            <div class="col-9 px-2">
              <div>
                <h5 class="card-title" style="color: #aa4d37;">{{ produto.nome }}</h5>
                  <p class="card-text text-muted fs-6">{{produto.lista}} | {{produto.unidade}} </p>
              </div>
            </div >
            <div class="col-3 text-center">
                
                <p class="fs-2">{{produto.qtd|floatformat:"0"}}</p>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <h2 class="pb-4 text-center small text-gray">Nenhum produto cadastrado</h2>
      {% endfor %}
  </main>
  {% if produtos %}
    {% include 'imprimir.html' %}
  {% endif %}

</body>
{% endblock %}
