{% extends 'base.html' %}
{% block content %}

<body class="d-flex flex-column h-100">

  {% include 'menu.html' %}

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <!--BARRA DE PESQUISA-->
    <div class="container">
      <form class="d-flex my-4">
        <input class="form-control me-2" type="search" placeholder="pesquisar" aria-label="Search">
        <button class="btn text-light" type="submit" style="background: #aa4d37;">Pesquisar</button>
      </form>
    </div>
    
    <!--CARDS-->
    <h2 class="pb-1 text-center text-secondary">CONTAGEM</h2>
    <h5 class="pb-4 text-center text-secondary">{{loja}} — {{departamento|capfirst}}</h5>
    {% include 'alertas.html' %}
    <form id="produtosForm" method="post">
      {% csrf_token %}
      {% for produto in produtos %}
      <div class="container border-bottom my-3">
        <div class="card border-0 mb-3">
          <div class="row g-0">
            <div class="col-3" onclick="count(this, 'img')">
              <img src="{{ produto.imagem.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-7 px-2" onclick="count(this, 'title')">
              <div>
                <h5 class="card-title" style="color: #aa4d37;">{{ produto.nome }}</h5>
                <p class="card-text text-muted fs-6">{{produto.lista}} | {{produto.unidade}} </p>
<!--                <input type="range" class="form-range" min="0" max="100" step="1" oninput="range(this)">-->
              </div>
            </div >
            <div class="col-2">
              <input name="qtd" id="qtd" type="number" class="border-1 form-control text-center qtd" value="{{produto.qtd|floatformat}}">
              <input name="id" id="{{ produto.id }}" type="text" class="d-none" value="{{produto.id}}">
              <a href="#" onclick="count(this, 'menos')" class="btn btn-danger mt-2 w-100">-</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <h2 class="pb-4 text-center small text-gray">Nenhum produto cadastrado nesse departamento</h2>
      {% endfor %}
    </form>
  </main>
  {% if produtos %}
    {% include 'footer.html' %}
  {% endif %}

</body>
{% endblock %}
