{% load static %}
<footer class="footer fixed-bottom mt-auto py-3" style="background: #29292a;">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="{% url 'lojas:zerar_contagem' slug %}" class="btn text-white w-100 btn-success">Zerar contagem</a>
      </div>
      <div class="col text-center">
        <a href="#" class="btn text-white w-100"  onclick="submit()" style="background-color: #aa4d37;">Imprimir</a>
      </div>
    </div>
  </div>
  <script>
    function submit(){
      form = document.querySelector('#listaDeComprasForm');
      form.submit();
    }
  </script>
</footer>
