{% load static %}
<footer class="footer fixed-bottom mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="#" class="text-decoration-none"><i class="fs-1 icofont-chef" style="color: #96330f;"></i></a>
      </div>
      <div class="col text-center">
        <a href="#" class="text-decoration-none"><i class="fs-1 icofont-beer" style="color: #96330f;"></i></a>
      </div><div class="col text-center">
      <a href="#" class="text-decoration-none"><i class="fs-1 icofont-culinary" style="color: #96330f;"></i></a>
    </div><div class="col text-center">
      <a href="#" class="text-decoration-none"><i class="fs-1 icofont-cocktail" style="color: #96330f;"></i></a>
    </div></div>
  </div>
</footer>
