{% load static %}
<footer class="footer fixed-bottom mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-secondary w-100" onclick="resetForm()">Limpar</button>
      </div>
      <div class="col text-center">
        <button class="btn text-white w-100" style="background-color: #aa4d37;">Salvar</button>
      </div>
    </div>
  </div>
</footer>

<script>
  function resetForm(){
    let form = document.querySelector('#produtosForm');
    form.reset();
  }
</script>
