{% load static %}
<header>
  <!-- Fixed navbar -->
  <nav class="fixed-top navbar navbar-dark navbar-expand-md" style="background: #29292a;">
    <div class="container-fluid">
      <img src="{% static 'core/img/logo.png' %}" class="img-fluid rounded-circle ">
      <a class="navbar-brand" href="{% url 'lojas:lojas' %}">Compras</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'lojas:lojas' %}">Lojas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lojas:contagem_opcoes' %}">Contagem por loja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lojas:contagem_opcoes' %}">Contagem geral</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
