{% extends 'core/base.html' %}
{% load static %}
{% block html %}<html lang="pt-br" class="h-100">{% endblock %}
{% block content %}
<body class="container d-flex flex-column h-100 justify-content-center align-items-center">
  <form action="{% url 'usuarios:login' %}" method="post" class="text-center">
    {% csrf_token %}
      <div class="mb-3">
        <img src="{% static 'core/img/logo-100.png' %}" />
      </div>
    
      {% include 'core/alertas.html' %}
    
      <div class="mb-1">
        <input type="text" id="email" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="mb-3">
        <input type="password" id="password" class="form-control" name="password" placeholder="Senha">
      </div>
      <button type="submit" class="btn text-white w-100" style="background-color: #aa4d37;">Login</button>
  </form>
</body>
{% endblock %}
