{% extends 'core/base.html' %}
{% block html %}<html lang="pt-br" class="h-100">{% endblock %}
{% block content %}

<body class="d-flex flex-column justify-content-center h-100">

  {% include 'core/menu.html' %}

  <!-- Begin page content -->
  <h2 class="pb-4 text-center text-secondary">{{loja|capfirst}} - DEPARTAMENTOS</h2>
  <main class="container">
    <div class="g-3 row justify-content-center">
    <!--CARDS-->
    {% for departamento in object_list %}
      <div class="card mx-2 text-center" style="width: 45%;">
      <a href="{% url 'lojas:contagem' departamento.loja.slug departamento.nome|lower %}" class="text-decoration-none text-black pt-2">
        {% if departamento.nome == 'COZINHA' %}
          <i class="icofont-chef text-center" style="font-size: 3rem !important; color: #aa4d37;"></i>
        {% elif departamento.nome == 'BAR' %}
          <i class="icofont-beer text-center" style="font-size: 3rem !important; color: #aa4d37;"></i>
        {% elif departamento.nome == 'FÁBRICA' %}
          <i class="icofont-cubes text-center" style="font-size: 3rem !important; color: #aa4d37;"></i>
        {% elif departamento.nome == 'DEMAIS' %}
          <i class="icofont-box text-center" style="font-size: 3rem !important; color: #aa4d37;"></i>
        {% endif %}
        <div class="card-body text-center">
          <p class="card-title" style="color: #aa4d37;">{{departamento.nome}}</p>
        </div>
      </a>
      </div>
    {% endfor %}
    </div>
  </main>
  <footer style="background: #29292a;" class="footer fixed-bottom mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col text-center">
          <a class="btn btn-danger text-white text-decoration-none w-100" href="{% url 'lojas:zerar_contagem' slug %}">Zerar contagem</a>
      </div>
      <div class="col text-center">
          <a class="btn text-white text-decoration-none w-100" style="background-color: #aa4d37; " href="{% url 'lojas:contagens_realizadas' slug %}">Contagens realizadas</a>
      </div>
    </div>
  </div>
</footer>
</body>
{% endblock %}
